body{
    background-color: #060c21;
    margin: 0px 0px 0px 0px;
    font-family: 'Comic Neue';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
} 
.Game{
    height: 550px;
    width: 400px;
    background-color: #060c21;
    margin-top: 50px;
    position: relative;
    border-radius: 5px;
}
.Game::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
}
.Game::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: #ffffff;
    z-index: -2;
    filter: blur(50px);
}
.Game::after,.Game::before{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    border-radius: 10px;
}
.heading{
    font-size: 40px;
    text-align: center;
    margin: 30px 0px 20px;
}
.MoveButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Moves{
    border-radius: 50%;
    width: 100px;
    height:100px;
    margin: 0px 10px 0px 10px;
    border-color: yellow;
    border-style: solid;
    border-width: 5px;
    background-color: black;
    font-size: 50px;
    text-align: center;
}
.Moves:hover{
    opacity:0.8;
}
.Moves:active{
    opacity: 0.5;
}
.Winner{
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.PlayerComputerMove{
    font-size: 30px;
    margin-left: 5px;
    text-align: center;
}
.score_board{
    font-size: 30px;
    margin-left: 5px;
    text-align: center;
}
.FunctionalButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ResetButton{
    width: 180px;
    height: 60px;
    background-color: black;
    color: yellow;
    border: 5px solid yellow;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Comic Neue';
    transition:all ;
}
.ResetButton:hover{
    opacity: 0.5;
}
.hidden{
    display: none;
}

.StartButton{
    height: 70px;
    width: 280px;
    font-family: 'Comic Neue';
    font-size: 50px;
    background-color: yellow;
    border: 5px solid;
    border-radius: 20px;
}